.container {
    position: relative;
    margin: 20px;
}

.img {
    position: absolute;
    left: 400px;
    top: 80px;
    margin-right: 400px;
}
.img2 {
    position: absolute;
    left: 700px;
    top: 80px;
    margin-right: 700px;
}

.img3 {
    position: absolute;
    left: 500px;
}

.img4 {
    position: absolute;
    left: 520px;
    top: 200px;
    margin-right: 520px;
}

.text {
    margin-top: 400px;
}

.img:hover {
    z-index: 1;
}

.img2:hover {
    z-index: 1;
}

.img4:hover {
    z-index: 1;
}

