body {
    margin: 0 auto;
    
}

.header {
    background: #00bfff;
}

.header__title {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px 10px;
    font-size: 40px;
    color: blue;
}

.section {
    display: flex;    
}

.section__menu {
    background: yellow;
    padding: 20px 30px 30px 0px;
    flex: none;
    width: 200px;
}

.section__content {
    margin: 20px;
    background: url(./images-removebg-preview.png) repeat-y right top;

    
}

.content__title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.content__image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.content__text {
    font-size: 25px;
    background: rgba(255,255,255, 0.5);
}

.menu__title {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.footer {
    background: #00bfff;
}

.footer__title {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px 20px;
    font-size: 40px;
    color: blue;
}

